* {
  margin: 0;
  padding: 0;
}
.header-container {
  background-color: #6dbfaadb;
}
.nav-container {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}
.nav-item-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  transition: 0.2s;
}
.nav-item-link:hover {
  font-size: 24px;
  text-decoration: underline;
  font-style: italic;
  color: tomato;
}
.nav-item-header-center {
  margin: 0 100px;
}
